* {box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-color: purple;
}

.main{
    margin: 50px auto;
    width: 96%;
}
#snakeBoard{
    margin-top: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    padding: 10px 0;
    color: whitesmoke;
    background-color:orange;
    border-bottom:2px solid pink;
}

h1 {
    text-align:center;
}

#score{
    font-size: 49px;
    text-align:center;
}

.scores-and-btn {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 96%;
    /* border: 2px solid white; */
    text-align: left;
}

.scores {
    width: 350px;
    padding: 10px 20px;
    background-color: #aa11aa;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 5px;
}

.game-btn {
    width: 140px;
    height: 22px;
    align-self: center;
    color: whitesmoke;
    background-color: #aa11aa;
    padding: 3px 18px;
    border: 1px solid white;
    border-radius: 5px;
}